.top-scores-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6ff;
  color: black;
  padding: 10px;
  border: 1px solid #1900ff;
  border-radius: 5px;
  margin: 48px 0;
}

.top-scores-detail div {
  display: flex;
  align-items: center;
}

.score-list {
  width: 25%;
}
